spring:
  application:
    name: nexus-backend
  profiles:
    active: prod # 배포 시 prod로 변경
    include: secret

  jpa:
    open-in-view: false

  servlet:
    multipart:
      max-file-size: 150MB
      max-request-size: 150MB

springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui.html
    url: /v3/api-docs
    display-request-duration: true
    groups-order: ASC

sse:
  timeout: 0  # 무제한 (heartbeat로 연결 유지)
  heartbeat: 20000  # 20초

management:
  endpoints:
    web:
      base-path: /actuator
      exposure:
        include: health,info,metrics,prometheus
  endpoint:
    health:
      show-details: when-authorized
    prometheus:
      enabled: true
  metrics:
    tags:
      application: ${spring.application.name}
      environment: ${spring.profiles.active}
